:root {
    --about-us-bg: url("../../assets/images/about-us.avif")
        /* --about-us-bg: url("../../assets/images/bg.jpg") */
}


.about-us::before {
    content: "";
    inset: 0;
    background-image: var(--about-us-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    filter: blur(2.5px);
}


.scrollButton{
    z-index: 30;
}